<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssieDoc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2DC35492634A04AB311ACA09CAADE398EC881429</string>
				<key>dateExpires</key>
				<string>16/06/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SKNJT9TD9G.com.issieshapiro.issiedoc.IssieDoc</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SKNJT9TD9G</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SKNJT9TD9G.com.issieshapiro.issiedoc.IssieDoc</string>
				</array>
			</dict>
			<key>name</key>
			<string>IssieDoc.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7c8879df-6c7b-4825-a96e-61243f4ecf8d</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SKNJT9TD9G</string>
				<key>name</key>
				<string>BEIT ISSIE SHAPIRO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
