<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLIx6h0-Zt_o2L2TV35Xop0Q-CSPfIOKk</string>
	<key>GCM_SENDER_ID</key>
	<string>821810142864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.issieshapiro.issiedoc.IssieDoc</string>
	<key>PROJECT_ID</key>
	<string>myissiesign</string>
	<key>STORAGE_BUCKET</key>
	<string>myissiesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821810142864:ios:2862c18be4844dd2450215</string>
</dict>
</plist>